<div class="container">
  <h1>Soccer App</h1>
<div class="row">
  <div class="col-md-12">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="List teams">
        <ng-template ngbPanelContent>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of teams">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
              </tr>              
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="List matches">
        <ng-template ngbPanelContent>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Home Team</th>
                <th scope="col">Score</th>
                <th scope="col"> X </th>
                <th scope="col">Score</th>
                <th scope="col">Away Team</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of matches">
                <th scope="row">1</th>
                <td>{{item.date}}</td>
                <td>{{item.homeTeam.name}}</td>
                <td>{{item.homeTeamScore}}</td>
                <td>x</td>
                <td>{{item.awayTeamScore}}</td>
                <td>{{item.awayTeam.name}}</td>
              </tr>              
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
</div>
